x-defaults: &service-defaults
  environment:
    {% for key, value in deploy.env.defaults.items() %}
    - {{ key }}={{ value }}
    {% endfor %}

services:
  {{ app_simple.name }}:
    <<: *service-defaults
    image: {{ app_simple.image }}
    environment:
      {% for key, value in app_simple.env.items() %}
      - {{ key }}={{ value }}
      {% endfor %}
      - VAULT_ADDR={{ deploy.env.shared.VAULT_ADDR }}
      - CONSUL_ADDR={{ deploy.env.shared.CONSUL_ADDR }}
    command: ["sh", "-c", "echo APP_NAME=$APP_NAME && sleep 3600"]
