x-defaults: &service-defaults
  environment:
    {% for key, value in deploy.env.defaults.items() %}
    - {{ key }}={{ value }}
    {% endfor %}

services:
  {{ vault_core.name }}:
    <<: *service-defaults
    image: {{ vault_core.image }}
    environment:
      {% for key, value in vault_core.env.items() %}
      - {{ key }}={{ value }}
      {% endfor %}
    command: ["sh", "-c", "echo VAULT_INITIALIZED=$VAULT_INITIALIZED && sleep 3600"]
