x-defaults: &service-defaults
  environment:
    {% for key, value in deploy.env.defaults.items() %}
    - {{ key }}={{ value }}
    {% endfor %}

services:
  {{ app_vault.name }}:
    <<: *service-defaults
    image: {{ app_vault.image }}
    environment:
      {% for key, value in app_vault.env.items() %}
      - {{ key }}={{ value }}
      {% endfor %}
      - VAULT_ADDR={{ deploy.env.shared.VAULT_ADDR }}
      - VAULT_BOOTSTRAP_TOKEN={{ app_vault.env.VAULT_BOOTSTRAP_TOKEN }}
    command: ["sh", "-c", "echo VAULT_BOOTSTRAP_TOKEN=$VAULT_BOOTSTRAP_TOKEN && sleep 3600"]
