x-defaults: &service-defaults
  environment:
    {% for key, value in deploy.env.defaults.items() %}
    - {{ key }}={{ value }}
    {% endfor %}

services:
  {{ consul_core.name }}:
    <<: *service-defaults
    image: {{ consul_core.image }}
    environment:
      {% for key, value in consul_core.env.items() %}
      - {{ key }}={{ value }}
      {% endfor %}
    command: ["sh", "-c", "echo CONSUL_SEEDED=$CONSUL_SEEDED && sleep 3600"]
